{% extends 'payments/base.html' %}
{% load mathfilters %}

{% block content %}
    <h1 class="text-center">Order History</h1>
    <div class="container">
        
        {% if object_list %}
        <table class="table table-striped table-bordered table-hover">
            <thead>
                <tr>
                    <th>Product</th>
                    <th>Customer Email</th>
                    <th>Amount</th>
                    <th>Status</th>
                    <th>Date</th>
                </tr>
            </thead>
            <tbody>
                
                {% for i in object_list %}
                    <tr>
                        <td>{{ i.product.name }}</td>
                        <td>{{ i.customer_email }}</td>
                        <td>{{ i.amount|div:100 }} €</td>
                        <td>
                            {% if i.has_paid %}
                                <b class="text-success">Success</b>
                            {% else %}
                                <b class="text-danger">Failed</b>
                            {% endif %}
                        </td>
                        <td>{{ i.created_on }}</td>
                    </tr>

                {% endfor %}
                    
            </tbody>
        </table>
        {% else %}
        <div class="alert alert-info">
            Payment history is empty.
        </div>
        {% endif %}
            
    </div>
{% endblock content %}
    