{% extends 'payments/base.html' %}
{% load mathfilters %}

{% block content %}
<h1 class="text-center" xmlns="http://www.w3.org/1999/html">Product Detail</h1>
<div class="container">

    <div class="card">
        <div class="card-header">
            <h2>Product Detail</h2>
        </div>
        <div class="card-body">
            <div class="container row">
                <div class="col-md-2">
                    <img src="https://dummyimage.com/150x150.gif?text={{ object.name }}" alt="">
                </div>
                <div class="col-md-10">
                    <h1>Name: {{ object.name }}</h1>
                    <p>Description: {{ object.description }}</p>
                    <p>Price for one product: {{ object.price }}</p>
                    <div class="form-group">
                        <label for="quantity">Quantity</label>
                            <input type="number" name="quantity" id="quantity" class="form-control">
                        <label for="email">Email: </label>
                            <input type="email" name="email" id="email" class="form-control" placeholder="Email">
                            <small>Please enter your email address</small>
                    </div>
                </div>
            </div>
        </div>
        <div class="card-footer d-flex">
            <button class="btn btn-success ml-auto" id="checkout-button">Checkout</button>
        </div>
    </div>
</div>

<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
    // Create an instance of the Stripe object with your publishable API key
    let stripe = Stripe('{{ stripe_publishable_key }}');
    let checkoutButton = document.getElementById('checkout-button');

    checkoutButton.addEventListener('click', function () {

        let email = document.getElementById('email').value;
        let quantity = document.getElementById('quantity').value
        if (email.length === 0) {
            alert("Please enter your email address.");
            return;
        }

        // Create a new Checkout Session using the server-side endpoint you
        // created in step 3.
        fetch("{% url 'api_checkout_session' id=object.id %}", {
            method: 'POST',
            body: JSON.stringify(
                { email: email,
                  quantity: quantity,},

            )
        })
            .then(function (response) {
                return response.json();
            })
            .then(function (session) {
                return stripe.redirectToCheckout({ sessionId: session.sessionId });
            })
            .then(function (result) {
                // If `redirectToCheckout` fails due to a browser or network
                // error, you should display the localized error message to your
                // customer using `error.message`.
                if (result.error) {
                    alert(result.error.message);
                }
            })
            .catch(function (error) {
                console.error('Error:', error);
            });
    });
</script>
{% endblock content %}
